/* features.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: teal;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

.section-img {
    width: 75%;
    height: 50%;
    border-radius: 8px;
    margin-top: 20px;
    margin: auto;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.feature-item {
    flex: 1 1 calc(20% - 20px);
    background: #E0ECDE;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: teal;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
.track-img{
    width:100%;
    background: #E0ECDE;
}
.user-icon{
    width:100%;
    background: #E0ECDE;
}

h1{
    color: bisque;
}
.heading1{
    color:peru;
}